*{
    box-sizing: border-box;
}
.h-1{
    text-align: center;
    margin-top: 200px;
}
li{
    display: inline-block;
    margin: 25px;
}
ul{
    text-align: center;
}
a{
    text-decoration: none;
    color: black
}
button{
    border: 2px solid skyblue;
    padding: 18px;
    background-color: white;
    border-radius: 60px;
}
button:hover{
    border: 2px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;
}
